.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 40px 0;
}

.site-footer .text {
    color: #ffffff;
    font-size: 16px;
    opacity: 0.8;
}