.second-section {
    background-color: rgba(193, 198, 209, 0.377);
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-section .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 820px;
    margin: 150px 0px;
}

.second-section .quote {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 100;
    font: light italic;
    color: #1F2937;
    max-width: 820px;
    min-width: 820px;
}

.second-section .author {
    font-size: 24px;
    font-weight: 800;
    align-self: flex-end;
}